:root {
    --dark: #264653;
    --shadow: #2a9d8f;
    --shadowActive: #15514a;
    --background: #e9c46a;
    --sandybrown: #f4a261;
    --burntsienna: #e76f51;
    --hover: #13242a;
}

* {
    font-family: Arial, Helvetica, sans-serif;
    color: var(--dark);
}

body {
    min-width: 400px;
    display: flex;
    flex-wrap: nowrap;
    align-items: top;
    margin: 40px;
    padding: 20px;
    flex-direction: row;
    background-color: var(--background);
}

.left-side {
    padding-right: 40px;
}

.score {
    font-size: 2em;
}

.grid {
    width: 300px;
    height: 600px;
    border: solid gray 1px;
    display: flex;
    flex-wrap: wrap;
}
.square {
    box-sizing: border-box;
    width: 30px;
    height: 30px;
    border: solid 0.1px black;
    background-color: black;
}
.full {
    box-sizing: border-box;
    width: 30px;
    height: 30px;
    /* border: solid 0.5px lightgray; */
}

.block {
    background-color: rgb(25, 98, 235);
}

/*  #########################right side ######################### */

.right-side {
    padding-top: 70px;
    width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;

    /* background-color: darkseagreen; */
}

.control-button {
    border: none;
    background-color: var(--dark);
    box-shadow: 0 9px var(--shadow);
    color: #e9c46a;
    transition-duration: 0.1s;
    display: inline-block;
    width: 150px;
    height: 40px;
    font-size: 15px;
    font-weight: 800;
    border-radius: 10px;
    margin-top: 35px;
}
.control-button:hover {
    background-color: var(--hover);
    color: var(--background);
    /* color: white; */
}

.control-button:focus {
    outline: none;
}

.control-button:active {
    background-color: var(--hover);
    box-shadow: 0 5px var(--shadowActive);
    transform: translateY(4px);
}

.grid-next-block {
    margin-top: 20px;
    width: 120px;
    height: 120px;
    display: flex;
    flex-wrap: wrap;
}
.controls {
    font-size: 1rem;
    font-weight: bold;
}

.info {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;

    height: 50px;
    width: 250px;
}

/* #################################### */

.scoreboard {
    font-size: large;
    font-weight: 700;
    font-stretch: expanded;
}
